@model IEnumerable<UmarSeat.Models.pnrLog>
<div class="table-responsive">
   

    <table id="detailedTable" class="table table-condensed table-detailed pnrlog">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pnrNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.avaliableSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.groupSplit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sellSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.transferSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.receiveSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.branchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idSubscription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pnrStatus)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.sc.timeLimit)
                </th>
                <th>
                    Created At
                </th>

               
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@Html.Raw(item.sc.id_SeatConfirmation)">
                    <td>
                        @Html.DisplayFor(modelItem => item.pnrNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalSeats)
                    </td>
                    <td class="av">
                        @Html.DisplayFor(modelItem => item.avaliableSeats)
                    </td>
                    <td class="gs">
                        @Html.DisplayFor(modelItem => item.groupSplit)
                    </td>
                    <td class="ss">
                        @Html.DisplayFor(modelItem => item.sellSeats)
                    </td>
                    <td class="st">
                        @Html.DisplayFor(modelItem => item.transferSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.receiveSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.branchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idSubscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pnrStatus)
                    </td>
                    <td class="sp">

                        @string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.sc.timeLimit)
                    </td>
                    <td class="sp">

                        @string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.sc.CreatedAt)
                    </td>


                </tr>
            }
        </tbody>

    </table>
</div>

<div data-refresh="true" class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>Please wait <span class="semi-bold">...</span></h5>
                </div>
                <div class="modal-body" id="mc">
                    Loading Content
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

