@model UmarSeat.Models.airLine

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<link href="~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
<link class="main-stylesheet" href="~/Content/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="~/Content/pages/css/pages-icons.css" rel="stylesheet" type="text/css">

<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title">
            <h3> Edit Airline @Html.Raw(Model.airlineName)</h3>
        </div>
        <div class="pull-right">
            <button data-dismiss="modal" type="button" class="btn btn-rounded btn-danger" onclick="clearall()"><i class="pg-close"></i> </button>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div id="dv2">
            <div id="aaa" class="panel-default-overlay-down">

                <div class="col-sm-12 text-center" style="height:100%">

                    <div class="progress-circle-indeterminate m-t-45">

                    </div>
                    <br>
                    <p class="small hint-text">Loading data</p>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("edit", "airline", FormMethod.Post, htmlAttributes: new { id = "entry-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)
            </div>

             @Html.HiddenFor(x=> x.id_AirLine);
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-group-default">
                        @Html.LabelFor(model => model.airlineName)
                        @Html.TextBoxFor(model => model.airlineName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.airlineName)
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group  form-group-default form-group-default-select2 ">
                        @Html.LabelFor(model => model.Country)
                    @Html.DropDownListFor(x => x.Country, Model.ListCountry, "Choose Country", new { @id = "country", @class = "full-width" })
                        @Html.ValidationMessageFor(model => model.Country)

                    </div>

                </div>

            </div>


            <button type="button" onclick="updatedata()" class="btn btn-primary"><i class="pg-plus"></i> Update Airline</button>
 

        }
    </div>
</div>


<style>
    .select2-container {
        width: 100%;
    }
</style>
