@model IEnumerable<UmarSeat.Models.SeatConfirmation>
<div class="table-responsive">
    <table class="table table-hover  table-detailed timet">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pnrNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.airLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stockId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.timeLimit)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@Html.Raw(item.pnrNumber)">
                    <td>
                        @Html.DisplayFor(modelItem => item.pnrNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.airLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockId)
                    </td>

                    <td>
                        
                        @String.Format("{0:yyyy-MM-dd hh:mm tt}", item.timeLimit)
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
