@model UmarSeat.Models.UserRoles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRoles</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userRolesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRolesType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRolesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRolesName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_UserRroles }) |
    @Html.ActionLink("Back to List", "Index")
</p>
