@using UmarSeat.Helpers;
@model IEnumerable<UmarSeat.Models.UserRoles>

@{
    ViewBag.Title = "Index";
}


<style>
    .wp {
        word-wrap: break-word;
        
    }

    table tbody tr td:nth-child(2), table thead tr th:nth-child(2) {
        width: 70% !important;
    }

    table {
        table-layout: fixed;
    }
</style>
<div class="container-fluid  bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                List of User Roles
            </div>
            <div class="export-options-container pull-right"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-detailed" id="tableWithExportOptions">

                <thead>
                  
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.userRolesType)
                        </th>
                        <th>
                            <div class="wp">
                                @Html.DisplayNameFor(model => model.userRolesName)
                                </div>
</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.userRolesType)
                            </td>
                            <td>
                                <div class="wp">@Html.DisplayFor(modelItem => item.userRolesName)</div>
                            </td>
                            <td>

                                @if (item.id_Subscription != 0)
                                {

                                    <a href="/userrole/edit/@Html.Raw(item.id_UserRroles)" class=" editbtn btn btn-complete">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    @Ajax.RawActionLink(string.Format("<i class=\"fa fa-remove\" ></i> Delete"), "Delete", null, new { id = item.id_UserRroles },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    OnSuccess = "onSuccess",
                                    Confirm = "Are you sure you want to Delete this category?",

                                    OnFailure = "onFail"
                                },
                                  new { @class = "btn btn-danger", id = "cnfrmDelete" })
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                   
                </tfoot>
            </table>

        </div>
    </div>
    <!-- END PANEL -->
</div>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        .table > tfoot > tr > th, .table > thead > tr > th {
            border-top: 0px !important;
        }

        .TableTools {
            display: inline-block !important;
        }

        .ColVis.TableTools .btn {
            margin-top: -2px;
            margin-right: 2px;
        }

        .TableTools_Button, .fix {
            background: white;
            border: 1px solid #F1F1F1;
            text-align: left;
            /* border-top: 1px; */
            margin-bottom: -1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0.01em;
            -webkit-font-smoothing: antialiased;
            padding: 6px 12px;
        }

        .TableTools_catcher {
            display: none !important;
        }

        .TableTools_collectionBackground {
            max-width: 95%;
        }
    </style>

    <script src="~/Content/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/assets/asimdatabtable/js/TableTools.js"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/lodash.min.js"></script>








}
@section Bread{
    <ul class="breadcrumb">
        <li>
            <a href="/userole/index">User Role</a>
        </li>
        <li>
            <a href="#" class="active">List </a>
        </li>
    </ul>
}