@using UmarSeat.Helpers;

@model UmarSeat.Models.Agents

@{
    ViewBag.Title = "Delete";
    Layout = null;
}


<link href="~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="~/Content/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="~/Content/pages/css/pages-icons.css" rel="stylesheet" type="text/css">

<div class="container-fluid  bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Do you Want to Delete @Html.Raw(Model.Person.firstName+" "+ Model.Person.lastName+ " ("+Model.id_Agent+")" ) ?
            </div>
            <div class="export-options-container pull-right"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">


            <table class="table table-responsive ">
                <tbody>
                    <tr>
                        <td>Agent Id</td>
                        <td>@Html.Raw(Model.id_Agent)</td>

                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>@Html.Raw(Model.Person.firstName)</td>
                        <td>Last Name</td>
                        <td>@Html.Raw(Model.Person.lastName)</td>

                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Html.Raw(Model.Person.email)</td>
                        <td>Mobile Number</td>
                        <td>@Html.Raw(Model.Person.mobileNumber)</td>
                    
                </tbody>
            </table>

            @Ajax.RawActionLink(string.Format("<i class=\"fa fa-remove\" ></i> Delete {0}", Model.id_Agent), "Delete", null, new { id = Model.id_Agent },
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "onDeleteSuccess",
                Confirm = "Are you sure you want to delete this?"
            },
                              new { @class = "btn btn-danger", id = "cnfrmDelete" })
            <button id="close" type="button" class="btn btn-default"> No</button>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<script>
    function onDeleteSuccess() {
        $("#modalSlideUp").click();
        window.location.reload();
    }
</script>
